.tableRowClickable{
    cursor: pointer;
}

.noMargin{
    margin: 0px;
}

clr-dg-column, clr-dg-cell{
    text-align: center;
    text-align-last: center;
}

.cellaCopertina{
    background-image: url('http://seb27.it/sites/seb27.it/files/copertine/1193047185.jpg?1239567594');
    background-position: center;
    background-size: 60px;
    background-repeat: no-repeat;
    height: 100px;
}
