<!-- Informazioni sui filtri -->
<div class="alert alert-info" *ngIf='descArgomento != null || luogo != null || (titoloFiltrato != null && titoloFiltrato != "") || (autoreFiltrato != null && autoreFiltrato != "")'>
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info"></clr-icon>
            </div>
            <span class="alert-text">
                Filtri attivi:
                <p class="p4 noMargin" *ngIf='luogo != null'>Luogo: {{luogo}}</p>
                <p class="p4 noMargin" *ngIf='descArgomento != null'>Argomento: {{descArgomento}}</p>
                <p class="p4 noMargin" *ngIf='titoloFiltrato != null && titoloFiltrato != ""'>
                    Titolo: {{titoloFiltrato}}
                    <button class="btn btn-sm btn-link" (click)="titoloFiltrato=''">
                        <clr-icon shape="trash" class="is-solid"></clr-icon>
                        </button>
                </p>
                 <p class="p4 noMargin" *ngIf='autoreFiltrato != null && autoreFiltrato != ""'>
                    Autore: {{autoreFiltrato}}
                    <button class="btn btn-sm btn-link" (click)="autoreFiltrato=''">
                        <clr-icon shape="trash" class="is-solid"></clr-icon>
                        </button>
                </p>
            </span>
            <div class="alert-actions" *ngIf='descArgomento != null || luogo != null'>
                <button class="btn btn-sm btn-link" (click)="clearFilter()">Elimina tutti i filtri</button>
            </div>
        </div>
    </div>
</div>

<!-- Griglia -->
<clr-datagrid [(clrDgSelected)]="selezionati">
    <clr-dg-column [clrDgField]="'autore'" [(clrDgSortOrder)]="ordCrescenteAutore">
        Autore
        <clr-dg-string-filter [clrDgStringFilter]="autoreFiltro" [(clrFilterValue)]="autoreFiltrato"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'titolo'">
        Titolo
        <clr-dg-string-filter [clrDgStringFilter]="titoloFiltro" [(clrFilterValue)]="titoloFiltrato"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column>Sottotitolo</clr-dg-column>
    <clr-dg-column>Copertina</clr-dg-column>
    <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: true}">
                Argomento
                <clr-dg-string-filter [clrDgStringFilter]="codiceArgomentoFiltro" [(clrFilterValue)]="codArgomento"></clr-dg-string-filter>
            </ng-container>
    </clr-dg-column>
    <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: true}">
                Luogo
                <clr-dg-string-filter [clrDgStringFilter]="luogoFiltro" [(clrFilterValue)]="luogo"></clr-dg-string-filter>
            </ng-container>
    </clr-dg-column>

    <clr-dg-placeholder>
        <div>Nessun risultato con questi filtri</div>
    </clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let element of catalogo" [clrDgItem]="element">
        <clr-dg-action-overflow (click)="clickRigaTabella(element)"></clr-dg-action-overflow>
        <clr-dg-cell [innerHTML] = "element.autore | nomiCognomi"></clr-dg-cell>
        <clr-dg-cell [innerHTML] = "element.titolo"></clr-dg-cell>
        <clr-dg-cell [innerHTML] = "element.sottotitolo"></clr-dg-cell>
        <clr-dg-cell>
            <img [src]="'/fondodocumentazione/copertine/'+element.copertina" class="cellaCopertina" onError="this.src='/fondodocumentazione/images/Libro.png';"></clr-dg-cell>
<!--        <img [src]="'/nostpais/copertine/'+element.copertina" class="cellaCopertina" onError="this.src='/nostpais/images/Libro.png';"></clr-dg-cell> -->
<!--        <img [src]="/copertine/'+element.copertina" class="cellaCopertina" onError="this.src='/images/Libro.png';"></clr-dg-cell> -->
        <clr-dg-cell>{{element.codiceArgomento}}</clr-dg-cell>
        <clr-dg-cell>{{element.luogo}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <button type="button" class="dropdown-toggle btn btn-success btn-sm" [disabled]="!(selezionati.length>0)" (click)="mdOpen = true; sort=''">Salva selezionati</button>
        <clr-dropdown>
            <button type="button" class=" btn-link" clrDropdownTrigger>
                Elementi per pagina: {{numeroElementiVisibiliTabella}}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = 10">10</button>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = 25">25</button>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = 50">50</button>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = 100">100</button>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = pagination.totalItems">Tutti</button>
            </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dg-pagination #pagination [clrDgPageSize]="numeroElementiVisibiliTabella"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="mdOpen">
    <h3 class="modal-title">Scegli come salvare i dati</h3>
    <div class="modal-body">
        <section class="form-block">
            <label>Ordinamento:</label>
            <div class="radio">
                <input type="radio" id="autore" (click)="sort = 'autore'" [checked]="sort == 'autore'">
                <label for="autore">alfabetico per primo autore</label>
            </div>
            <div class="radio">
                <input type="radio"  id="argomento" (click)="sort = 'argomento'" [checked]="sort == 'argomento'">
                <label for="argomento">per argomento</label>
            </div>
             <div class="radio">
                <input type="radio"  id="luogo" (click)="sort = 'luogo'" [checked]="sort == 'luogo'">
                <label for="luogo">per luogo</label>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="mdOpen = false" >Cancel</button>
        <button type="button" class="btn btn-primary" (click)="mdOpen = false; download()" [disabled]="sort == ''">Ok</button>
    </div>
</clr-modal>
