.card-media-block .card-media-image{
    max-width:10.5em !important;
    max-height:15.5em !important;
    width: auto !important;
    height: auto !important;
}

.card{
      border-color: #80A7BA;
      border-radius: 30px;
      margin-bottom: 24px;
}

.card-header{
    border-bottom-color: #80A7BA;
    border-radius: 20px 20px 0 0;
    background-color: #80A7BA;
}

.whiteText{
    color: white;
}

.noBordi{
    border: none;
    box-shadow: none;
    background: none;
}

.card-header.noBordi{
    padding-bottom: 0px;
    padding-left: 0px;
}
