<div class="btn-group btn-primary">
    <button class="btn btn-success btn-sm" disabled><clr-icon shape="download"></clr-icon> Salva</button>
    <button class="btn btn-sm"><clr-icon shape="undo"></clr-icon> Indietro</button>
</div>


<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="card">
            <div class="card-img">
                <img src="http://seb27.it/sites/seb27.it/files/copertine/1193047185.jpg?1239567594">
            </div>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class="card">
			<div class="card-block">
				<h3 class="card-title">Card 2</h3>
				<p class="card-text">
                    ...
				</p>
			</div>
			<div class="card-footer">
				<a href="..." class="btn btn-sm btn-link">Action 2</a>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="card-block">
				<h3 class="card-title">Card 3</h3>
				<p class="card-text">
                    ...
				</p>
			</div>
			<div class="card-footer">
				<a href="..." class="btn btn-sm btn-link">Action 3</a>
			</div>
		</div>
	</div>
</div>


