<div class="btn-group btn-primary">
    <button class="btn btn-sm" (click)="indietro()"><clr-icon shape="undo"></clr-icon> Indietro</button>
</div>


<div class="clr-row">
	<div class="clr-col">
		 <div class="card">
            <div class="card-header">
               <h3 class="whiteText" [innerHTML]="elementoCliccato.titolo"></h3>
               <span class="p2 whiteText" [innerHTML]="elementoCliccato.sottotitolo"></span>
            </div>
            <div class="card-block">
                <div class="card-media-block">
                     <img [src]="'./copertine/'+elementoCliccato.copertina" class="card-media-image" onError="this.src='/images/Libro.png'">
<!--                     <img [src]="'/fondodocumentazione/copertine/'+elementoCliccato.copertina" class="card-media-image" onError="this.src='/fondodocumentazione/images/Libro.png'"> -->
                    <div class="card-media-description">
                        <span class="card-media-title p2" [innerHTML]="etichetta(arrayKey[0])"></span>
                        <span class="card-media-text" [innerHTML]="beautify(arrayKey[0])"></span>
                    </div>
                </div>
                <div class="card-text clr-row">
                    <ng-container *ngFor="let info of arrayKey; let i=index">
                        <div class="clr-col-lg-3 clr-col" *ngIf="i>0">
                            <div class="card noBordi">
                                <div class="card-header noBordi"><span class="p2" [innerHTML]="etichetta(info)"></span></div>
                                <div class="card-text"><span [innerHTML]="beautify(info)"></span></div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
