<clr-main-container>
	<clr-header class="header">
		<div class="branding">
			<a href="#" class="nav-link">
				<span class="clr-icon clr-clarity-logo"></span>
				<span class="title">Materiale raccolto da 'L Nòst Pais</span>
			</a>
		</div>
		<div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="flag"></clr-icon>
                    <clr-icon id="angle-double" shape="angle-double" dir="down" size="12"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <button type="button" disabled clrDropdownItem>Italiano</button>
                    <button type="button" disabled clrDropdownItem>Nolese</button>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
	</clr-header>
	<div class="content-container">
		<div class="content-area">
			<router-outlet></router-outlet>
		</div>
		<clr-vertical-nav class="verticalNav" [clr-nav-level]="1">
			<a clrVerticalNavLink [routerLink]="['/home']" routerLinkActive="active"  class="verticalNav">
                <clr-icon class="is-solid WhiteTextOnly" shape="folder-open" clrVerticalNavIcon></clr-icon>
                Panoramica
            </a>
            <div class="nav-divider"></div>
			<a clrVerticalNavLink [routerLink]="['/catalogoCompleto']" routerLinkActive="active"  class="verticalNav">
                <clr-icon class="is-solid WhiteTextOnly" shape="library" clrVerticalNavIcon></clr-icon>
                Catalogo completo
            </a>
			<a clrVerticalNavLink [routerLink]="['/catalogoArgomento']" routerLinkActive="active"  class="verticalNav">
                <clr-icon class="is-solid WhiteTextOnly" shape="pin" clrVerticalNavIcon></clr-icon>
                Catalogo per argomento
            </a>
            <a clrVerticalNavLink [routerLink]="['/catalogoLuogo']" routerLinkActive="active"  class="verticalNav">
                <clr-icon class="is-solid WhiteTextOnly" shape="compass" clrVerticalNavIcon></clr-icon>
               Catalogo per luogo
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink href="http://www.lnostpais.it/" routerLinkActive="active"  class="verticalNav">
                <clr-icon class="is-solid" shape="world" clrVerticalNavIcon></clr-icon>L'Associazione
            </a>
		</clr-vertical-nav>
	</div>
    <header class="header footer">
        <div class="header-actions">
          <span class="p7" (click)="creditModaleOpen = true">Riconoscimenti</span>
        </div>
    </header>
</clr-main-container>


<clr-modal [(clrModalOpen)]="creditModaleOpen" [clrModalSize]="'sm'">
    <div class="modal-body">
        <span class="p6">Grafica:</span> <span class="p7">Samuele Cargnino</span> <br>
        <span class="p6">Sviluppo:</span> <span class="p7">Davide Mussari</span>
    </div>
</clr-modal>



