//Header
	.clr-icon {
	  &.clr-clarity-logo {
		background-image: url(../images/logoNostPais.png);
		height: 45px;
		width: 45px;
	  }
	}

	.header{
		background-color: #46778f !important;
	}

	.header .header-actions > .dropdown > .dropdown-toggle, .header .settings > .dropdown > .dropdown-toggle, header .header-actions > .dropdown > .dropdown-toggle, header .settings > .dropdown > .dropdown-toggle {
        color: white;
        opacity: 1;
    }

    #angle-double{
        right: .4rem;
    }

//Footer
	header.header.footer div.header-actions {
        padding: 15px;
	}

	.footer div.header-actions span.p7 {
        margin: 10px;
        color: white;
        cursor: pointer;
    }

//Vertical nav
	.verticalNav,
    .main-container .clr-vertical-nav.clr-nav-level-1, .main-container .header-nav.clr-nav-level-1, .main-container .sidenav.clr-nav-level-1, .main-container .sub-nav.clr-nav-level-1, .main-container .subnav.clr-nav-level-1,
    .main-container.open-hamburger-menu .header .branding .title{
		background: #80a7ba;
		color: white;
		text-shadow: 2px 2px #728e9c;
	}

	.WhiteTextOnly{
		color: white;
		text-shadow: 2px 2px #728e9c;
	}

	.verticalNav.active,
	a.verticalNav:hover{
		background-color: #46778f !important;
		color: white !important;
	}

	.clr-vertical-nav .nav-link.active .nav-icon, .clr-vertical-nav .nav-link:hover .nav-icon{
        fill: white;
    }

   .nav-trigger-icon{
        fill: white;
    }

//content area
.content-area{
    margin-bottom: 24px;
}
