.clr-icon {
  &.clr-clarity-logo {
    background-image: url(../images/logoNostPais.png);
	height: 45px;
	width: 45px;
  }
}

.clr-icon {
  &.clr-clarity-logoFacebook {
    background-image: url(../images/FB-f-Logo__blue_29.png);
	height: 15px;
	width: 15px;
  }
}

#footer {
	height: 42px;
	botton: 0px;
	position: absolute;
	width: 100%;
}
