<clr-main-container>
	<clr-header class="header">
		<div class="branding">
			<a href="#" class="nav-link">
				<span class="clr-icon clr-clarity-logo"></span>
				<span class="title">Materiale raccolto da 'L Nòst Pais</span>
			</a>
		</div>
		<div class="header-nav">
		</div>
	</clr-header>
	<div class="content-container">
		<div class="content-area">
			<router-outlet></router-outlet>
		</div>
		<clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed" class="verticalNav">
			<a clrVerticalNavLink [routerLink]="['/home']" routerLinkActive="active"  class="verticalNav">
                <clr-icon class="is-solid WhiteTextOnly" shape="home" clrVerticalNavIcon></clr-icon>
                Panoramica
            </a>
			<clr-vertical-nav-group routerLinkActive="active" class="verticalNav">
				<clr-icon class="is-solid WhiteTextOnly" shape="library" clrVerticalNavIcon></clr-icon>
				<div class="WhiteTextOnly">Catalogo</div>
				<clr-vertical-nav-group-children >
				    <a clrVerticalNavLink
						[routerLink]="['/catalogoCompleto']"
						routerLinkActive="active"  class="verticalNav">
				        completo
				    </a>
				    <a clrVerticalNavLink
				       [routerLink]="['/catalogoArgomento']"
				       routerLinkActive="active"  class="verticalNav">
				        per argomento
				    </a>
					<a clrVerticalNavLink
				       [routerLink]="['/catalogoLuogo']"
				       routerLinkActive="active"  class="verticalNav">
				        per luogo
				    </a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<a clrVerticalNavLink href="http://www.lnostpais.it/" routerLinkActive="active"  class="verticalNav">
                <clr-icon class="is-solid" shape="world" clrVerticalNavIcon></clr-icon>L'Associazione
            </a>
		</clr-vertical-nav>
	</div>




</clr-main-container>
<header class="header footer">
test
</header>
