<clr-main-container>
	<clr-header class="header">
		<div class="branding">
			<a href="#" class="nav-link">
				<span class="clr-icon clr-clarity-logo"></span>
				<span class="title">Materiale raccolto da 'L Nòst Pais</span>
			</a>
		</div>
		<div class="header-nav">
		</div>
	</clr-header>
	<div class="content-container">
		<div class="content-area">
			<router-outlet></router-outlet>
		</div>
		<clr-vertical-nav>
			<a clrVerticalNavLink [routerLink]="['/home']" routerLinkActive="active">Home</a>
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon class="is-solid" shape="book" clrVerticalNavIcon></clr-icon>
				Catalogo
				<clr-vertical-nav-group-children>
				    <a clrVerticalNavLink
						[routerLink]="['/catalogoCompleto']"
						routerLinkActive="active">
				        completo
				    </a>
				    <a clrVerticalNavLink
				       [routerLink]="['/catalogoArgomento']"
				       routerLinkActive="active">
				        per argomento
				    </a>
					<a clrVerticalNavLink
				       [routerLink]="['/catalogoLuogo']"
				       routerLinkActive="active">
				        per luogo
				    </a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon class="is-solid" shape="help-info" clrVerticalNavIcon></clr-icon>
				L'Associazione
				<clr-vertical-nav-group-children>
				    <a clrVerticalNavLink>
				        <span class="clr-icon clr-clarity-logoFacebook"></span> FB
				    </a>
				    <a clrVerticalNavLink>
				       <clr-icon class="is-solid" shape="world" clrVerticalNavIcon></clr-icon> Sito internet
				    </a>
					<a clrVerticalNavLink>
				      <clr-icon class="is-solid" shape="envelope" clrVerticalNavIcon></clr-icon> Contatti
				    </a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
		</clr-vertical-nav>
	</div>




</clr-main-container>
<header class="header footer" id="footer">
test
</header>
