.card{
//	border-radius: 50%;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 3px 0 0 #80a7b9;
    border: 1px solid #80a7b9;
	height: 130px;
//	weight: 180px;
}

.book{
    background-image: url("http://www.applicazioni.me/tuttodisegni/files/2012/07/libro-aperto.jpg");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
