<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
        <div class="card book">
            <div class="card-text">
                    Catalogo completo {{id}}
            </div>
		</div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="card-columns card-columns-3" *ngIf='id == null'>
        <div class="card clickable" *ngFor="let box of dewey['centinaia']" (click)="routing(box.numero)">
            <div class="card-text">{{box.numero}}</div>
            <div class="card-block">
                <div class="card-title">{{box.descrizione}}</div>
            </div>
        </div>
    </div>
    <div class="card-columns card-columns-3" *ngIf='id != null'>
        <div class="card clickable" *ngFor="let box of dewey[id]" (click)="routing(box.numero)">
            <div class="card-text">{{box.numero}}</div>
            <div class="card-block">
                <div class="card-title">{{box.descrizione}}</div>
            </div>
        </div>
    </div>
</div>
