<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-12"></div>
	<div class="col-lg-6 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-text row" id="bookBackGround">
                <h5 class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="id">{{id}}</h5>
                <h5 class="col-lg-5 col-md-5 col-sm-1 col-xs-5" id="desc">{{desc}}</h5>
            </div>
            <div class="card-text">Scegliere argomento:</div>
		</div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-12"></div>
</div>
<div class="row flex-items-xs-center" *ngIf='id == null'>
    <!-- <div class="card-columns card-columns-3" *ngIf='id == null'> -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let box of dewey['centinaia']">
        <div class="card clickable" (click)="routing(box)">
            <div class="card-text">{{box.numero}}</div>
            <div class="card-block">
                <div class="card-title">{{box.descrizione}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row flex-items-xs-center" *ngIf='id != null'>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let box of dewey[id]">
    <!-- <div class="card-columns card-columns-3" *ngIf='id != null'> -->
        <div class="card clickable" (click)="routing(box)">
            <div class="card-text">{{box.numero}}</div>
            <div class="card-block">
                <div class="card-title">{{box.descrizione}}</div>
            </div>
        </div>
    </div>
</div>
