<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
        <div class="card">
            <div class="card-header">
                    Catalogo completo {{id}}
            </div>
            <div class="card-img">
                <img src="http://www.applicazioni.me/tuttodisegni/files/2012/07/libro-aperto.jpg" style="width: 35%;">
            </div>
		</div>
    </div>
    <div class="col-md-4"></div>
</div>



<div class="card-columns card-columns-4">
    <div class="card clickable" *ngFor="let box of dewey['centinaia']">
        <div class="card-header">
        </div>
        <div class="card-block">
        </div>
         <div class="card-text"></div>
    </div>


</div>





<!--
<div class="row" *ngIf='id == null'>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let box of this.dewey['centinaia']">
        <div class="card clickable" (click)="routing(box.numero)" >
            <div class="card-block">
                <h3 class="card-title">{{box.descrizione}}</h3>
                <p class="card-text">{{box.numero}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="height: 20px"><div class="col-md-4"></div></div>

<!--
*ngFor="let box of this.dewey['centinaia']">
        <div class="card-text">{{box.numero}}</div>
        <div class="card-block">
            <div class="card-title">{{box.descrizione}}</div>
        </div


        <div class="col-md-3 card clickable" (click)="routing(box.numero)" *ngFor="let box of this.dewey['centinaia']">
        <div class="card-text">{{box.numero}}</div>
        <div class="card-block">
            <div class="card-title">{{box.descrizione}}</div>
        </div>

    </div>




    <div class="col-md-3 card clickable" (click)="routing(box.numero)" *ngFor="let box of this.dewey['centinaia']">
        <div class="card-text">{{box.numero}}</div>
        <div class="card-block">
            <div class="card-title">{{box.descrizione}}</div>
        </div>
        <div class="card-text">{{box.numero}}</div>
        <div class="card-block">
            <div class="card-title">{{box.descrizione}}</div>
        </div>
    </div>

        -->
