.card{
//	border-radius: 50%;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 3px 0 0 #80a7b9;
    border: 1px solid #80a7b9;
	height: 150px;
}

#bookBackGround{
    height: 70%;
    margin-top: 10px;
    background-image: url(../../images/Libro.png);
    background-repeat: no-repeat;
    background-size:  90% 100%;
    background-position: top center;
}

#id{
    text-align: right;
    margin-top: 10px;
}

#desc{
    text-align: left;
    margin-top: 10px;
}

.book div.card-text{
    margin-top: 5px;
    float:left;
    display:block;
}

#paginaLibroNumero{
    text-align: left;
}

#paginaLibroDescrizione{
    width: 115px;
    margin-left: 25px;
}

#scegliArgomento{
    margin-top: 125px;
}
