/*stile loading iniziale (libro)*/
body{
  width:100%;
  height:100vh;
  background:#80a7ba;
}
.book{
  top: 50%;
  transform: translateY(-50%);
  position:relative;
  margin:5% auto;
  border:5px solid #ecf0f1;
  width:100px;
  height:60px;
}
.book__page{
  position:absolute;
  left:50%;
  top:-5px;
  margin:0 auto;
  border-top:5px solid #ecf0f1;
  border-bottom:5px solid #ecf0f1;
  border-right:5px solid #ecf0f1;
  background:#80a7ba;
  width:50px;
  height:60px;
  transform-origin:0% 50%;
  animation:flip 1.2s infinite linear;
  animation-fill-mode:forwards;
}

@keyframes flip {
  0%{
      transform: perspective( 600px )
      rotateY( -0deg );
  }

  20%{
    background:darken(#80a7ba,10%);
  }

  29.9%{
      background:darken(#80a7ba,10%);
  }
  30%{
      transform: perspective( 200px )
      rotateY( -90deg );
      background:#80a7ba;
  }

  54.999%{
    opacity:1;
  }
  55%{
    opacity:0;
  }
  60%{
    transform: perspective( 200px )
    rotateY( -180deg );
    background:#80a7ba;
  }

  100%{
    transform: perspective( 200px )
    rotateY( -180deg );
    background:#80a7ba;
  }
}


/*stile griglia*/
.datagrid{
    border-radius: 23px 23px 0px 0px  !important;
    border-color:  #80A7BA;
}

.datagrid-head{
    border-radius: 20px 20px 0 0;
    border-color:  #80A7BA !important;
    color: white;
}

.datagrid .datagrid-column{
     background-color: #80a7ba !important;
}

.datagrid-table .datagrid-column .datagrid-filter-toggle{
    color: white;
}

body > my-app > clr-main-container > div > div > app-catalogo-completo > app-griglia > clr-datagrid > div > div > div > clr-dg-table-wrapper > div.datagrid-head.ng-star-inserted > div > div.datagrid-column.datagrid-select.datagrid-fixed-column.ng-star-inserted > span > clr-checkbox > label:before{
    border-color: #dddddd;
}

.datagrid-filter-toggle{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23FFFFFF%3Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%227%209.32%203%205.38%203%205%2013%205%2013%205.38%209%209.32%209%2012.21%207%2013.29%207%209.32%22%2F%3E%3C%2Fsvg%3E")!important;
}

.datagrid-column-title{
    color: white !important;
}

clr-datagrid > div > div > div > clr-dg-table-wrapper > div.datagrid-head.ng-star-inserted > div > clr-dg-column:nth-child(5) > div > div{
    bottom: -15px;
    visibility: hidden;
}

clr-dg-action-overflow button.datagrid-action-toggle{
    background-image: url(images/iconaDettaglioGriglia.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-position: center !important;
}

clr-dg-action-overflow button.datagrid-action-toggle clr-icon{
    visibility: hidden;
}

.datagrid-row, .datagrid-placeholder{
    border-color:  #80A7BA !important;
}

.datagrid-footer{
    border-radius: 0 0 20px 20px;
    background-color: #80a7ba;
    color: white;
    border-color:  #80A7BA;
}

body > my-app > clr-main-container > div > div > app-catalogo-completo > app-griglia > clr-datagrid > div.datagrid > div > div > div > div > div > div.datagrid-row-scrollable > div.datagrid-column.datagrid-select.datagrid-fixed-column.ng-star-inserted > span > clr-checkbox-wrapper > label::before{
    border-color: white;
}

.datagrid-table .datagrid-column .datagrid-column-separator::after{
    background-color: white;
}

.column-toggle--action{
    visibility: hidden;
}

clr-dg-footer > div > clr-dropdown > button{
    color: white !important;
}

clr-dg-footer > clr-dg-pagination > ul > li > button,
clr-dg-footer > clr-dg-pagination > ul > li{
    color: white !important;
}

.pagination-current{
    border-color: white !important;
}


.pagination-first > clr-icon, .pagination-previous > clr-icon, .pagination-next > clr-icon, .pagination-last > clr-icon{
    color: white;
}


/*Stile vertical nav*/
.nav-trigger-icon{
    color: white;
    fill: white;
}

.clr-vertical-nav .nav-divider{
    border-color: white;
}

.clr-vertical-nav .nav-trigger + .nav-content{
    border-top-color: #99B8C8;
}

/*stile catalogo argomento*/
.ng-star-inserted div.row.ng-star-inserted{
    margin-bottom: 24px;
}

/*stile card*/
.card{
    border-radius: 20px;
}
