<div class="row">
	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="card">



            <div class="card-header">
                Header
            </div>
            <div class="card-block">
                <div class="card-title">
                    Title
                </div>
                <div class="card-text">
                     <ngx-charts-bar-vertical-stacked
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="multi"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)">
                    </ngx-charts-bar-vertical-stacked>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Footer Action 1</button>
                <button class="btn btn-sm btn-link">Footer Action 2</button>
            </div>




		</div>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="card-block">
				<h3 class="card-title">Card 2</h3>
				<p class="card-text">
                    ...
				</p>
			</div>
			<div class="card-footer">
				<a href="..." class="btn btn-sm btn-link">Action 2</a>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="card-block">
				<h3 class="card-title">Card 3</h3>
				<p class="card-text">
                    ...
				</p>
			</div>
			<div class="card-footer">
				<a href="..." class="btn btn-sm btn-link">Action 3</a>
			</div>
		</div>
	</div>
</div>


