<div class="clr-row">
    <div class="clr-col">
        <div class="card">
            <div class="card-header">
                Distribuzione per tipologia (tot. finora inventariato:  {{nTotaleAcquisizioni}})
            </div>
            <div class="card-block">
                <div class="chart">
                    <grafico-torta [(data)]="dataTipologia" [options]="options"></grafico-torta>
                </div>
            </div>
        </div>
    </div>

    <div class="clr-col">
        <div class="card">
            <div class="card-header">
                Distribuzione per lingua principale
            </div>
            <div class="card-block">
                <div class="chart">
                    <grafico-torta [(data)]="dataLingua" [options]="options"></grafico-torta>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col">
        <div class="card">
            <div class="card-header">
               Ultimo materiale inventariato
            </div>
            <div class="card-block">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titolo</th>
                             <th>Sottotitolo</th>
                            <th>Autore</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of ultimeAcquisizioni">
                            <td>{{e.titolo}}</td>
                            <td>{{e.sottotitolo}}</td>
                            <td [innerHTML]="e.autore"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
