<!-- Informazioni sui filtri -->
<div class="alert alert-info" *ngIf='descArgomento != null || luogo != null || (titoloFiltrato != null && titoloFiltrato != "") || (autoreFiltrato != null && autoreFiltrato != "")'>
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info"></clr-icon>
            </div>
            <span class="alert-text">
                Filtri attivi:
                <p class="p4 noMargin" *ngIf='luogo != null'>Luogo: {{luogo}}</p>
                <p class="p4 noMargin" *ngIf='descArgomento != null'>Argomento: {{descArgomento}}</p>
                <p class="p4 noMargin" *ngIf='titoloFiltrato != null && titoloFiltrato != ""'>
                    Titolo: {{titoloFiltrato}}
                    <button class="btn btn-sm btn-link" (click)="titoloFiltrato=''">
                        <clr-icon shape="trash" class="is-solid"></clr-icon>
                        </button>
                </p>
                 <p class="p4 noMargin" *ngIf='autoreFiltrato != null && autoreFiltrato != ""'>
                    Autore: {{autoreFiltrato}}
                    <button class="btn btn-sm btn-link" (click)="autoreFiltrato=''">
                        <clr-icon shape="trash" class="is-solid"></clr-icon>
                        </button>
                </p>
            </span>
            <div class="alert-actions" *ngIf='descArgomento != null || luogo != null'>
                <button class="btn btn-sm btn-link" (click)="clearFilter()">Elimina tutti i filtri</button>
            </div>
        </div>
    </div>
</div>

<!-- Griglia -->
<clr-datagrid>
    <clr-dg-column [clrDgField]="'autore'">
        Autore
        <clr-dg-string-filter [clrDgStringFilter]="autoreFiltro" [(clrFilterValue)]="autoreFiltrato"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'titolo'">
        Titolo
        <clr-dg-string-filter [clrDgStringFilter]="titoloFiltro" [(clrFilterValue)]="titoloFiltrato"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column>Sottotitolo</clr-dg-column>
    <clr-dg-column>Copertina</clr-dg-column>
    <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: true}">
                Argomento
                <clr-dg-string-filter [clrDgStringFilter]="codiceArgomentoFiltro" [(clrFilterValue)]="codArgomento"></clr-dg-string-filter>
            </ng-container>
    </clr-dg-column>
    <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: true}">
                Luogo
                <clr-dg-string-filter [clrDgStringFilter]="luogoFiltro" [(clrFilterValue)]="luogo"></clr-dg-string-filter>
            </ng-container>
    </clr-dg-column>

    <clr-dg-placeholder>
        <div *ngIf='caricamentoCompletato == true'>Nessun risultato con questi filtri</div>
        <span class="spinner" *ngIf='caricamentoCompletato != true'></span>
    </clr-dg-placeholder>

    <clr-dg-row class="tableRowClickable" *clrDgItems="let element of catalogo" (click)="clickRigaTabella(element)">
        <clr-dg-cell [innerHTML] = "element.autore | nomiCognomi"></clr-dg-cell>
        <clr-dg-cell >{{element.titolo}}</clr-dg-cell>
        <clr-dg-cell>{{element.sottotitolo}}</clr-dg-cell>
        <clr-dg-cell><div class="cellaCopertina"></div></clr-dg-cell>
        <clr-dg-cell>{{element.codiceArgomento}}</clr-dg-cell>
        <clr-dg-cell>{{element.luogo}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <button class="btn btn-success btn-sm" disabled><clr-icon shape="download"></clr-icon>Salva</button>
        <clr-dropdown>
            <button type="button" class=" btn-link" clrDropdownTrigger>
                Elementi per pagina
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = 25">25</button>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = 50">50</button>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = 100">100</button>
                <button type="button" clrDropdownItem (click)="numeroElementiVisibiliTabella = pagination.totalItems">Tutti</button>
            </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dg-pagination #pagination [clrDgPageSize]="numeroElementiVisibiliTabella"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>



<!-- Modale -->
<clr-modal [(clrModalOpen)]="modale.aperta" [clrModalClosable]="false" [clrModalSize]="'lg'">
    <h3 class="modal-title">{{modale.elemento.titolo}}</h3>
    <div class="modal-body">
        <form>
            <section class="form-block">
                <div class="form-group">
                    <label for="formFields_9">Autori: </label>
                    <input type="text" disable value="{{modale.elemento.autore}}">
                </div>
                <div class="form-group">
                    <label for="formFields_9">Autori: </label>
                    <input type="text" disable value="{{modale.elemento.autore}}">
                </div>
                <div class="form-group">
                    <label for="formFields_9">Autori: </label>
                    <input type="text" disable value="{{modale.elemento.autore}}">
                </div>
                <div class="form-group">
                    <label for="formFields_9">Autori: </label>
                    <input type="text" disable value="{{modale.elemento.autore}}">
                </div>
                <div class="form-group">
                    <label for="formFields_9">Autori: </label>
                    <input type="text" disable value="{{modale.elemento.autore}}">
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <div class="btn-group btn-primary">
            <button class="btn" (click)="modale.aperta = false"><clr-icon shape="times"></clr-icon>Chiudi</button>
            <button class="btn btn-success" disabled><clr-icon shape="download"></clr-icon>Salva</button>
        </div>
    </div>
</clr-modal>


