<!--<div *ngIf='descArgomento != null'>-->
<div *ngIf='descArgomento != null'>
    Filtro su argomento: {{descArgomento}} <button class="btn btn-info" (click)="clearFilter()">Elimina</button>
</div>
<clr-datagrid>
    <clr-dg-column>Autore</clr-dg-column>
    <clr-dg-column>Titolo</clr-dg-column>
    <clr-dg-column>Sottotitolo</clr-dg-column>
    <clr-dg-column>Copertina</clr-dg-column>
    <clr-dg-column [clrDgField]="'element.codiceArgomento'">
            <ng-container *clrDgHideableColumn="{hidden: true}">
                Argomento
                <clr-dg-string-filter [clrDgStringFilter]="codiceArgomentoFiltro" [(clrFilterValue)]="codArgomento"></clr-dg-string-filter>
            </ng-container>
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let element of catalogo">
        <clr-dg-cell [innerHTML] = "element.autore | nomiCognomi"></clr-dg-cell>
        <clr-dg-cell>{{element.titolo}}</clr-dg-cell>
        <clr-dg-cell>{{element.sottotitolo}}</clr-dg-cell>
        <clr-dg-cell><div style="background-image: url('http://seb27.it/sites/seb27.it/files/copertine/1193047185.jpg?1239567594');height: 100px;background-size: 60px;background-repeat: no-repeat;"></div></clr-dg-cell>
        <clr-dg-cell>{{element.codiceArgomento}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        di {{pagination.totalItems}} elementi totali
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
